@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-family: Outfit, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--lightGrey);
}

#card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    width: 350px;
    border-radius: 24px;
    background-color: var(--white);
    box-shadow: 0px 15px 62px 2px rgba(0, 0, 0, 0.25);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

h1 {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 700;
    color: var(--darkBlue);
}

p {
    margin: inherit;
    font-size: 15px;
    font-weight: 300;
    color: var(--grayishBlue);
}